<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="teste.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Server=DESKTOP-692B8L3\SQLEXPRESS;Database=testcase;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.net>
    <defaultProxy useDefaultCredentials="true"/>
  </system.net>
  <applicationSettings>
    <teste.Properties.Settings>
      <setting name="ProxyActive" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ProxyAddress" serializeAs="String">
        <value>http://172.16.0.6:8080</value>
      </setting>
      <setting name="ProxyUser" serializeAs="String">
        <value>inf-dietersantos</value>
      </setting>
      <setting name="ProxyPass" serializeAs="String">
        <value>r353t3282</value>
      </setting>
      <setting name="PersonalAccessToken" serializeAs="String">
        <value>cndcp3jit4reohyqpvw7sqp7756lkvc6dvght35cop637oiox7va</value>
      </setting>
      <setting name="Organization" serializeAs="String">
        <value>diones</value>
      </setting>
    </teste.Properties.Settings>
  </applicationSettings>
</configuration>